@font-face {
	 font-family: golos;
	 font-display: swap;
	 src: url("../fonts/golos-ui-Regular.woff2") format("woff2"), url("../fonts/golos-ui-Regular.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
@font-face {
	 font-family: mplus1;
	 font-display: swap;
	 src: url("../fonts/mplus1-Regular.woff2") format("woff2"), url("../fonts/mplus1-Regular.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
@font-face {
	 font-family: mplus1p;
	 font-display: swap;
	 src: url("../fonts/mplus1p-Medium.woff2") format("woff2"), url("../fonts/mplus1p-Medium.woff") format("woff");
	 font-weight: 500;
	 font-style: normal;
 }
@font-face {
	 font-family: mplus1p;
	 font-display: swap;
	 src: url("../fonts/mplus1p-Regular.woff2") format("woff2"), url("../fonts/mplus1p-Regular.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
