$xxl: 1399.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;

:root {
  --container: 1270px;

  @media(max-width: $xl) {
    --container: 1070px;
  }

  @media(max-width: $lg) {
    --container: 870px;
  }

  @media(max-width: $md) {
    --container: 670px;
  }

  @media(max-width: $sm) {
    --container: 100%;
  }
}
